[submodule "workshop"]
	path = workshop
	url = https://github.com/stuy-softdev/workshop.git
[submodule "Notes"]
	path = Notes
	url = https://github.com/stuy-softdev/notes-and-code.git
[submodule "P00"]
	path = P00
	url = https://github.com/simont1/Gudetama.git
[submodule "LAB0"]
	path = LAB0
	url = https://github.com/simont1/Gudetama.git
[submodule "21_fd_astro0_songD-wangZ"]
	path = 21_fd_astro0_songD-wangZ
	url = https://github.com/dereksong01/Astro0.git
[submodule "22_fd_astro0_songD-wangZ"]
	path = 22_fd_astro0_songD-wangZ
	url = https://github.com/dereksong01/Astro0.git
[submodule "23_bt_astro0_songD-wangZ"]
	path = 23_bt_astro0_songD-wangZ
	url = https://github.com/zane0916/hw23_astro0.git
[submodule "L0"]
	path = L0
	url = https://github.com/simont1/Gudetama.git
[submodule "L1"]
	path = L1
	url = https://github.com/AntonDanylenko/ApumpkinPI.git
[submodule "Lab1"]
	path = Lab1
	url = https://github.com/AntonDanylenko/ApumpkinPI.git
[submodule "Workshop"]
	path = Workshop
	url = https://github.com/stuy-softdev/workshop.git
